<% provide(:title, @user.name) %>
<div class="row">
	<div class="col-md-6">
		<h1>
		<%= gravatar_for @user %>
		<%= @user.name %>
		</h1>
	</div>
	<div class="col-md-6">
		<% if @user.posts.any? %>
	      <h3>Recent Posts (<%= @user.posts.count %>)</h3>
	      <ol class="list-unstyled profile">
	        <%= render @posts %>
	      </ol>
	      <%= will_paginate @posts %>
	    <% end %>		
	</div>
</div>