<li id="<%= feed_item.id %>">
	<div class="row feed-item">
			
	<div class="col-xs-9">
		
		<div class="vote-buttons">	

			<%= link_to vote_post_path(feed_item, type: "up"), method: "post", class: "arrows" do %>
				<span class="glyphicon glyphicon-chevron-up"></span>
			<% end %>

			<strong><%= feed_item.reputation_for(:post_votes).to_i %></strong>


			<%= link_to vote_post_path(feed_item, type: "down"), method: "post", class: "arrows" do %>
				<span class="glyphicon glyphicon-chevron-down"></span>
			<% end %>	
		</div>	
		
		
	 <h1><%= link_to feed_item.headline, feed_item.url %> <small><i><%= feed_item.domain %></i></small></h1>
	<span class="timestamp">
    <small>Posted <%= time_ago_in_words(feed_item.created_at) %> ago.</small>
   </span>

<br>
<!-- 
<%= pluralize feed_item.reputation_for(:post_votes).to_i, "vote" %>
| <%= link_to "up", vote_post_path(feed_item, type: "up"), method: "post" %>
| <%= link_to "down", vote_post_path(feed_item, type: "down"), method: "post" %>
-->

<a href="">
<span class="glyphicon glyphicon-comment"></span></a>
<%= link_to feed_item.comments.count.to_s + " comments", feed_item, class: "comments-links" %>



<% if signed_in? && current_user.admin? %>
    | 
    <%= link_to "delete", feed_item, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: feed_item.headline %>
<% end %>

	
		</div>
		
		<div class="col-xs-3">
		<% if feed_item.tags.any? %>
			<%= raw feed_item.tag_list.map { |t| link_to t.titleize, tag_path(t), class: "label label-success " + t.to_s }.join(' ') %>
		<% end %>
		
		</div>
	</div>
</li>