<li id="<%= feed_item.id %>">
	<div class="row feed-item">		
	<div class="col-xs-9">	
		<div class="vote-buttons" id="vote-buttons-<%= feed_item.id %>">	
		    <%= render partial: 'shared/vote_buttons', locals: { feed_item: feed_item } %>			
		</div>		
	 <h1><%= link_to feed_item.headline, feed_item.url %> <small><i><%= feed_item.domain %></i></small></h1>
	<span class="timestamp">
    <small>Posted <%= time_ago_in_words(feed_item.created_at) %> ago.</small>
   </span>
<br>

<%= link_to feed_item, class: "comments-links" do %>
	<span class="glyphicon glyphicon-comment"></span>
	<%= feed_item.comments.count.to_s + " comments" %>
<% end %>


<% if signed_in? && current_user.admin? %>
    | 
    <%= link_to "delete", feed_item, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: feed_item.headline %>
<% end %>

	</div>
		
	<div class="col-xs-3">
		<% if feed_item.tags.any? %>
			<%= raw feed_item.tag_list.map { |t| link_to t.titleize, tag_path(t), class: "label label-success " + t.to_s }.join(' ') %>
		<% end %>
		
	</div>
	</div>
</li>