<%= form_for(@post, :html => { :role => "form" }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
	<div class="form-group">
		<%= f.label :new_headline %>
    	<%= f.text_field :headline, class: "form-control", placeholder: "Enter new headline..." %>
  	</div>
 	<div class="form-group">
		<%= f.label :new_link %>
    	<%= f.text_field :url, class: "form-control", placeholder: "Full URL: \"http://www.google.com/news\"" %>
  	</div>
	<div class="form-group">
		<%= f.label :tag_list, "Tags (separated by commas)" %>
		<%= f.text_field :tag_list, class: "form-control", placeholder: "Tags..." %>
	</div>	
  	<div class="btn-group">
		<%= f.submit "Post", class: "btn btn-large btn-primary" %>
	</div>
<% end %>