<li>
	<span class="headline">
	 <h1>
	 <% if post.image_url %>
	  <%= image_tag post.image_url(:thumb).to_s %>
     <% end %>
	 
	 <%= link_to post.headline, post.url %>
	 </h1>
	</span>
  
  <% if post.tags.any? %>
	<%= raw post.tag_list.map { |t| link_to t.titleize, tag_path(t), class: "btn btn-success btn-xs" }.join(' ') %>
  <% end %>

  <span class="timestamp">
    Posted <%= time_ago_in_words(post.created_at) %> ago.
  </span>

<%= link_to "comments", post %>

  <% if signed_in? && current_user.admin? %>
| 
  <%= link_to "delete", post, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: post.headline %>
  <% end %>
</li>