<% provide(:title, @post.headline.html_safe) %>
<div class="row">
	<div class="col-md-8">
	  <ol class="list-unstyled posts">
	  
	<%= render @post %>
	
	<% if @post.comments.any? #changed from exists? for tests to pass %>	
	  	<h5>Comments (<%= @post.comments.count %>)</h5>
	
		<ol class="list-unstyled comments">
	    	<%= nested_comments @comments.arrange(:order => :created_at) %>
	   	</ol>
		<hr>
		
		<% if signed_in? %>
			<h5>Your Comment</h5>
  			<%= render 'shared/comment_form' %>
		<% else %>
			<!-- Keep comment_form, but prompt for sign-up upon input? -->
			Please <%= link_to 'login', signin_path %> to post a comment. 
		<% end %>
	
		<%= will_paginate @comments %>
	<% end %>
		
    
	  </ol>
	</div>
	<div class="col-md-4">		
	</div>
</div>