<% provide(:title, @post.headline.html_safe) %>
<div class="row">
	<div class="col-md-8">
	  <ol class="list-unstyled posts">
	  
	<%= render @post %>
	
	<% if @post.comments.any? #changed from exists? for tests to pass %>	
	  	<h3>Comments (<%= @post.comments.count %>)</h3>
	
	  <%= render 'shared/comment_form' %>
	
		<ol class="list-unstyled comments">
	    	<%= nested_comments @comments.arrange(:order => :created_at) %>
	   	</ol>
		<%= will_paginate @comments %>
	<% end %>
		
    
	  </ol>
	</div>
	<div class="col-md-4">		
	</div>
</div>